<ion-header>
    <ion-toolbar color="#">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/register"></ion-back-button>
    </ion-buttons>
      <ion-title>
        Agregar producto
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-paddding">

  
    <form [formGroup]="formulario" (ngSubmit)="agregarProducto()">
        <ion-item>
            <ion-label position="floating">Nombre del producto</ion-label>
            <ion-input type="email" placeholder="Ingresa el nombre del producto" required formControlName="nombre"></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label position="floating">Precio</ion-label>
            <ion-input type="number" placeholder="Ingresa el precio" required formControlName="precio"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Cantidad en Stock</ion-label>
            <ion-input type="number" placeholder="Ingresa la cantidad en stock" required formControlName="stock"></ion-input>
        </ion-item>
        
        <div class="uk-flex align-items-center">
            <ion-item  class="w-90">
                <ion-label position="floating">Inserte el link de su imagen</ion-label>
                <ion-input type="text" (keyup)="setImg($event)" (paste)="onPaste($event)" placeholder="Ingresa la cantidad en stock" required formControlName="img"></ion-input>
            </ion-item>
            <ion-icon (click)="pasteImg()" class="icon-paste" name="clipboard-outline"></ion-icon>
        </div>

       <div>
        <img [src]="imgView" alt="">
       </div>


        <button type="submit">Agregar producto</button>
    </form>
  
</ion-content>