<ion-header>
    <ion-toolbar color="#">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
      <ion-title>
        Agregar producto
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-paddding">

  
    <form [formGroup]="form" (ngSubmit)="addProduct()">
        <ion-item>
            <ion-label position="floating">Nombre del producto</ion-label>
            <ion-input type="email" placeholder="Ingresa el nombre del producto" required formControlName="nombre"></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label position="floating">Precio</ion-label>
            <ion-input type="number" placeholder="Ingresa el precio" required formControlName="precio"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Cantidad en Stock</ion-label>
            <ion-input type="number" placeholder="Ingresa la cantidad en stock" required formControlName="stock"></ion-input>
        </ion-item>

        <ion-item>
            <ion-select label="Categoría del producto" placeholder="Categoría" formControlName="categoryId" style="font-weight: 800;">
              <ion-select-option value="Alimentos Frescos">Alimentos Frescos</ion-select-option>
              <ion-select-option value="Bebidas">Bebidas</ion-select-option>
              <ion-select-option value="Enlatados">Enlatados</ion-select-option>
              <ion-select-option value="Papitas">Papitas</ion-select-option>
              <ion-select-option value="Higiene">Higiene</ion-select-option>
              <ion-select-option value="Farmacos">Farmacos</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <div class="icon-img" (click)="takePhoto()" style="display: flex; align-items: center; gap: 10px;">
                <ion-icon name="image-outline" style="font-size: 70px;"></ion-icon>
                <strong>Seleccione la imagen del producto</strong>
            </div>
            <em *ngIf="imgName">{{imgName}}</em>
        </ion-item>


        <button type="submit">Agregar producto</button>
    </form>
  
</ion-content>