<ion-header>
    <ion-toolbar color="#">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/register"></ion-back-button>
    </ion-buttons>
      <ion-title>
        Agregar producto
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-paddding">

  
    <form [formGroup]="formulario" (ngSubmit)="agregarProducto()">
        <ion-item>
            <ion-label position="floating">Nombre del producto</ion-label>
            <ion-input type="email" placeholder="Ingresa el nombre del producto" required formControlName="nombre"></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label position="floating">Precio</ion-label>
            <ion-input type="number" placeholder="Ingresa el precio" required formControlName="precio"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Cantidad en Stock</ion-label>
            <ion-input type="number" placeholder="Ingresa la cantidad en stock" required formControlName="stock"></ion-input>
        </ion-item>

        <ion-item>
            <ion-select label="Categoría del producto" placeholder="Categoría" formControlName="categoryId">
              <ion-select-option value="apple">Apple</ion-select-option>
              <ion-select-option value="banana">Banana</ion-select-option>
              <ion-select-option value="orange">Orange</ion-select-option>
            </ion-select>
        </ion-item>

        <div>
            <h2>Subir una imagen</h2>
            <button (click)="takePhoto()">Tomar Foto</button>
        </div>
          
        <div *ngIf="imgUrl">
            <h3 *ngIf="imgName">{{imgName}}</h3>
            <img [src]="imgUrl" alt="Imagen Subida">
        </div>

       <div>
        <img [src]="imgView" alt="">
       </div>



        <button type="submit">Agregar producto</button>
    </form>
  
</ion-content>