<ion-header>
  <ion-toolbar color="#">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Mi carrito
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="margin-remove">
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let product of cartItems">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" [src]="product.product.img" />
          </ion-thumbnail>
          <div class="uk-flex uk-flex-between w-100">
            <div>
              <div>
                <p class="title-card">{{product.product.nombre}}</p>
                <p class="subtitle-card">${{product.product.precio}}</p>
              </div>
              <div class="mt-5 uk-flex align-items-center">
                <ion-icon (click)="decrementQty(product)" class="qty-icon" name="remove-outline"></ion-icon>
                <input class="field-qty" type="number" [value]="product.qty" min="1" name="" id="">
                <ion-icon class="qty-icon" name="add-outline" (click)="incrementQty(product)"></ion-icon>
              </div>
            </div>
            <div (click)="confirmDelete(product)">
              <ion-icon class="icon-close" name="trash"></ion-icon>
            </div>
          </div>
        </ion-item>
        <div class="price">
          <h2>Subtotal: ${{totalPrice}}</h2>
          <h2> Envio: 
            <span *ngIf="totalPrice >= 1000">Gratis</span>
            <span *ngIf="totalPrice < 1000">$100</span>
          </h2>  
          <h2 *ngIf="totalPrice >= 1000">Total: ${{totalPrice }}</h2>
          <h2 *ngIf="totalPrice < 1000">Total: ${{totalPrice + 100}}</h2>
        </div>

      </ion-list>
    </ion-card-content>

    <ion-item *ngIf="!location">
      <div class="icon-img" (click)="getLocation()"
        style="display: flex; align-items: center; gap: 10px; padding: 5px;">
        <ion-icon name="location-outline" style="font-size: 70px;"></ion-icon>
        <em>Presione para añadir su ubicación</em>
      </div>
    </ion-item>

    <ion-item *ngIf="location">
      <div class="icon-img"
        style="display: flex; align-items: center; gap: 10px; padding: 5px;">
        <ion-icon name="pin-outline" style="font-size: 40px;"></ion-icon>
        <em>Ubicación obtenida con éxito</em>
      </div>
    </ion-item>


    <ion-card-content>
      <div id="map">
        <iframe *ngIf="location" width="100%" height="200" frameborder="0" scrolling="no" marginheight="0"
          marginwidth="0" [src]="urlMap" allowfullscreen></iframe>
      </div>
      <ion-button *ngIf="cartItems.length > 0" expand="full" (click)="saveOrder()" style="padding-top: 20px;">Hacer Pedido</ion-button>
      <ion-button *ngIf="cartItems.length < 1" expand="full" [disabled]="true" style="padding-top: 20px;">Hacer Pedido</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<app-footer-nav></app-footer-nav>