* {
    font-family: 'Poppins', sans-serif;
}

.container {
    background: white;
    width: 85%;
    padding: 20px;
    margin: auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container img {
    width: 97%;
}

.container h1 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.container p {
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
}

.buttons a {
    color: #02b761;
    text-decoration: underline;
}