ion-content {
    font-family: 'Poppins', sans-serif;
}

ion-content p {
    color: gray;
}

ion-content ion-label {
    font-weight: 800;
}

ion-content button {
    background: #02b761;
    padding: 18px;
    width: 95%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 800;
    font-size: 15px;
    margin: 30px auto;
}

ion-content .exists {
    text-align: center;
}

ion-content .exists span {
    color: #02b761;
    font-weight: 800;
}