<ion-header>
  <ion-toolbar color="#">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/register"></ion-back-button>
  </ion-buttons>
    <ion-title>
      Registrarse
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-paddding">

  <div class="ion-padding">
      <h1>Bodega La Fe</h1>
      <p>
        Cree su cuenta ahora
      </p>
  </div>

  <form>
      <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" maxlength="30" placeholder="Ingresa tu nombre"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" placeholder="Ingresa tu correo"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" minLenght="8" maxlength="16" placeholder="Ingresa tu contraseña"></ion-input>
      </ion-item>

      <button>Registrarse</button>
      <p class="exists">¿Ya tienes una cuenta? <span>Inicia Sesión</span></p>
  </form>

</ion-content>