ion-toolbar {
  background: #02b761;
}
ion-header {
  margin-top: 2rem;
}
ion-toolbar ion-back-button {
  color: white;
  // position: absolute;
  margin-top: 2rem;
}

ion-toolbar ion-title {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: white;
  text-align: center;
  margin-top: 1rem;
}

ion-content {
  font-family: "Poppins", sans-serif;
}

ion-content ion-label {
  font-weight: 800;
}

ion-content button {
  background: #02b761;
  padding: 18px;
  width: 95%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 800;
  font-size: 15px;
  margin: 30px auto;
}
