<ion-header>
    <ion-toolbar color="#">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{productDetail.nombre}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="producto">

        <div class="product-img" (click)="openImgModal(productDetail.img)">
            <img [src]="productDetail.img">
        </div>

        <div class="product-title">
            <h2>{{productDetail.nombre}}</h2>
        </div>
        
    </div>
    <div class="precio-cant">
        <div class="precio">
            <h2>${{productDetail.precio}}</h2>
        </div>
    </div>
    <div class="add-cart">
        <div class="button-cart client-cnt" style="display: flex; align-items: center; margin-right: 5px; ">
            <ion-icon (click)="removeToCart(productDetail)" name="remove-outline"></ion-icon>
            <b class="qty-field">{{productDetail.qty}}</b>
            <ion-icon (click)="addQty(productDetail)" name="add-outline"></ion-icon>
        </div>

        <div class="btn-cart">
            <ion-icon *ngIf="productDetail.qty > 0" name="cart" (click)="addToCart(productDetail)"
                class="floating"></ion-icon>
        </div>
    </div>

</ion-content>

<app-footer-nav currentRoute="/" [qtyOrders]="cartItems"></app-footer-nav>