$fuenteDeLetra: 'Poppins', sans-serif;
$semiBold: 600;
$extraBold: 800;

ion-toolbar {
    background: #02B761;
    ion-back-button {
        color: white;
        position: absolute;
    }
    ion-title {
        font-family: $fuenteDeLetra;
        font-weight: $extraBold;
        color: white;
        text-align: center;
    }
}

.producto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img {
        border-radius: 30px;
        width: 300px;
    }
    h2{
        font-family: $fuenteDeLetra;
        font-weight: $extraBold;
    }
}

.precio-cant {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    font-family: $fuenteDeLetra;
    .precio {
        h2{
            font-weight: $extraBold;
            color: #02B761;
            
        }
    }

}

button {
    background: #02B761;
    padding: 15px;
    width: 70%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: $extraBold;
    font-size: 25px;
    margin: 30px auto;
    align-items: center;
    ion-icon{
        font-size: 25px;
        padding-left: 5px;
    }
}


/* Agrega estilos al mensaje de éxito */
.success-message {
    position: fixed;
    top: 350px;
    left: 100px;
    background-color: #02B761;
    color: white;
    border-radius: 5px;
    padding: 10px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    font-family: $fuenteDeLetra;
  }
  
  /* Agrega estilos cuando el mensaje está visible */
  .success-message.show {
    opacity: 1;
    transform: translateY(0);
  }
  