<ion-header>
    <ion-toolbar color="#">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
      <ion-title>
        Producto
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="producto">
        <img [src]="productDetail.img">
        <h2>{{productDetail.nombre}}</h2>
    </div>
    <div class="precio-cant">
        <div class="precio">
            <h2>${{productDetail.precio}}</h2>
        </div>
    </div>
    <button (click)="addProductCart(productDetail)">Añadir al carrito</button>
    <div class="success-message" [ngClass]="{'show': showSuccessMsg}">
        Añadido con éxito al carrito
    </div>
</ion-content>

<app-footer-nav currentRoute="/"></app-footer-nav>
