<ion-header>
    <ion-toolbar color="#">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
      <ion-title>
        Producto
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="producto">
        <ion-img src="assets/img/fanta.png"></ion-img>
        <h2>Nombre del producto</h2>
    </div>
    <div class="precio-cant">
        <div class="precio">
            <h2>$100</h2>
        </div>
        <div class="cantidad">
            <ion-icon class="menos" name="remove-circle-outline"></ion-icon>
            <p>1</p>
            <ion-icon class="mas" name="add-circle-outline"></ion-icon>
        </div>
    </div>
    <button>Añadir al carrito 
        <ion-icon name="cart-outline"></ion-icon>
    </button>
</ion-content>

<ion-footer>
    <ion-toolbar color="#">
      <div class="footer">
            <div class="home">
                <ion-icon name="home-outline"></ion-icon>
                <p>Inicio</p>
            </div>
            <div class="categorias">
                <ion-icon name="grid"></ion-icon>
                <p>Categorías</p>
            </div>
            <div class="carrito">
                <ion-icon name="cart-outline"></ion-icon>
                <p>Carrito</p>
            </div>
            <div class="perfil">
                <ion-icon name="person-outline"></ion-icon>
                <p>Perfil</p>
            </div>
      </div>
    </ion-toolbar>
</ion-footer>