* {
  font-family: 'Poppins', sans-serif;
}

ion-toolbar {
  background: #02b761;
}

ion-toolbar ion-back-button {
  color: white;
  position: absolute;
}

ion-toolbar ion-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  color: white;
  text-align: center;
}

/* Estilo para los detalles del producto */
.product-item {
  border-bottom: 1px solid #eee;
  /* Borde inferior de cada elemento de producto */
  padding: 10px 0;
  /* Espaciado interior de cada elemento de producto */
  display: flex;
  /* Utiliza flexbox para organizar los elementos */
  align-items: center;
  /* Centra verticalmente los elementos */
}

ion-thumbnail {
  width: 100px;
  height: 90px;
}

ion-thumbnail img {
  border-radius: 10px;
}

ion-item {
  margin-bottom: 10px;
}

h3 {
  font-size: 22px;
}

.title-card {
  font-weight: 800;
  font-size: 16px;
}

.subtitle-card-price {
  color: #02b761;
  font-weight: 800;
}

.precio {
  color: #02b761;
  font-size: 800;
}

.total-section {
  margin-top: 15px;
  margin-bottom: 15px;
}

.total-price {
  font-weight: 800;
  font-size: 18px;
}

.status p {
  font-weight: 800;
  font-size: 18px;
}