<ion-header>
    <ion-toolbar color="#">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>
        Historial de pedidos
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card class="margin-remove">
      <ion-card-content *ngFor="let order of orders">
        <ion-list>
          <h3>{{order['fecha']}}</h3>
          <ion-item *ngFor="let product of order['items']" class="product-item">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" [src]="product.product.img"/>
            </ion-thumbnail>
            <div class="product-details">
              <div class="product-info">
                <p class="title-card">{{product.product.nombre}}</p>
                <p class="subtitle-card-price">${{product.product.precio}}</p>
                <p class="subtitle-card">Cantidad: {{product.qty}}</p>
                <p class="subtitle-card">Subtotal: ${{product.qty * product.product.precio}}</p>
              </div>            
            </div>
          </ion-item>
          <strong style="font-size: 17px; padding: 20px;">Total: <span class="subtitle-card-price">${{ calcularPrecioTotal(order) }}</span> </strong>
          <div class="status" style="padding: 10px;
          background: red; color: white; font-size: 12px;
           border-radius: 10px; margin-top: 10px; text-align: center;" 
          *ngIf="order['status_enviado'] == 'no'">
            <p>
                Estado del pedido: No enviado
            </p>
          </div>
          <div class="status" style="padding: 10px;
          background: #02B761; color: white; font-size: 12px;
           border-radius: 10px; margin-top: 10px; text-align: center;" 
          *ngIf="order['status_enviado'] == 'yes'">
            <p>
                Estado del pedido: Enviado
            </p>
          </div>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
  
  
  <app-footer-nav></app-footer-nav>