<swiper
    [config]="config"
    class="swiper-container"
    >    
      <ng-template swiperSlide class="swiper-slide-swipe">
        <div  class="banner-top">
          d
        </div>
      </ng-template>

      <ng-template swiperSlide class="swiper-slide-swipe">
        <div class="banner-top">
            rger
        </div>
      </ng-template>

      <ng-template swiperSlide class="swiper-slide-swipe">
        <div  class="banner-top">
            hola
        </div>
      </ng-template>
    </swiper>

    