
<ion-header>
    <ion-toolbar color="#">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
      <ion-title>
       Mi Historial
      </ion-title>
    </ion-toolbar>
</ion-header>

<div class="divpadre">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS96gPusrxav4R54uWT6uSoG7h7-B4ubIS9Ug&usqp=CAU" alt="">
<div class="Divhijo">
    <b>nombre del producto</b>
    <p>$100</p>
    <button>Anadir al carrito</button>
</div>
</div>

<div class="divpadre">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTorqZakQlcLZxBX23JYiqIqoIPgV_e1UXvhw&usqp=CAU" alt="">
    <div class="Divhijo">
        <b>nombre del producto</b>
        <p>$100</p>
        <button>Anadir al carrito</button>
    </div>
    </div>


    <div class="divpadre">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS96gPusrxav4R54uWT6uSoG7h7-B4ubIS9Ug&usqp=CAU" alt="">
        <div class="Divhijo">
            <b>nombre del producto</b>
            <p>$100</p>
            <button>Anadir al carrito</button>
        </div>
        </div>


        
<div class="divpadre">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTorqZakQlcLZxBX23JYiqIqoIPgV_e1UXvhw&usqp=CAU" alt="">
    <div class="Divhijo">
        <b>nombre del producto</b>
        <p>$100</p>
        <button>Anadir al carrito</button>
    </div>
    </div>


    
  <app-footer-nav></app-footer-nav>