img{
    width: 25px;
    height: 25px;
    
    
}

.divimg{
    display: flex;
    justify-content: center;
}

.one{
    display: flex;
    justify-content: center;
}

.two{
    display: flex;
    justify-content: center;
}