<div>
    <h3>iniciar sesion</h3>
</div>

<div>
    <h1>bodega la fe</h1>
     <p>inicia sesion en tu cuenta ahora</p>
</div>

<ion-input label="correo" label-placement="floating" fill="solid" placeholder="Enter text"></ion-input>

<br />
 
<ion-input label="contrasena" label-placement="floating" fill="solid" placeholder="Enter text"></ion-input>


<ion-button expand="block">iniciar sesion</ion-button>

<div class="one"><p>o inicia sesion con</p></div>

<div class="divimg"><img src="../../assets/google (2).png" alt=""></div>

<div class="two"><p>no tienes cuenta?registrate</p></div>
