img{
    width: 25px;
    height: 25px;
    
    
}

.divimg{
    display: flex;
    justify-content: center;
}

.one{
    display: flex;
    justify-content: center;
}

.two{
    display: flex;
    justify-content: center;
}

P{
    color: gray;
}

h3{
    
    color:  #01b763;
}
.divh3{
    display: flex;
    justify-content: end;

}

.div2{
    display: flex;
    justify-content: center;
    background-color: #01b763;
    color: white;
}