<div class="div2">
    <h2>iniciar sesion</h2>
</div>

<div>
    <h1>Bodega la fe</h1>
     <p>inicia sesion en tu cuenta ahora</p>
</div>

<ion-input label="correo" label-placement="floating" fill="solid" placeholder="ingresa tu correo electronico"></ion-input>

<br />
 
<ion-input label="contrasena" label-placement="floating" fill="solid" placeholder="ingresa tu contrasena"></ion-input>

<div class="divh3"><h3>olvidaste tu contrasena?</h3></div>

<ion-button (click)="navigate()" expand="block">iniciar sesion</ion-button>

<div class="one"><p>o inicia sesion con</p></div>

<div class="divimg"><img src="../../assets/google (2).png" alt=""></div>

<div class="two"><p>no tienes cuenta?registrate</p></div>
