
.buscador{
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.titulo{
    display: flex;
    justify-content: center;
    background-color: gray;
    
}

.categoria{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 45%;
    display: flex;
    justify-content: space-between;
    
}
.cardPadre{
    display: flex;
    flex-direction: wrap;
    
   
}

.productos{
    display: flex;
    justify-content: space-between;
}