<ion-content class="container ion-padding">
  <div class="main">

    <div class="header">
      <ion-img src="assets/img/bodega-la-fe.png" alt="logo bodega la fe"></ion-img>
      <div class="usuario" *ngIf="usuario">
        <h1>¡Hola {{usuario.nombre}}!</h1>
        <em>¡Gracias por comprar con nosotros!</em>
      </div>
    </div>

    <div class="busqueda">
      <ion-searchbar animated="true" placeholder="Busca tu producto aquí..."></ion-searchbar>
    </div>

  

  </div>
  <div class="titulo" routerLink="/add-product"><h1>AGREGAR PRODUCTO</h1></div>
  
  <div class="categoria">
    <div class="category">
      <b>categorias</b>
      <p>ver todo ></p>
    </div>
  
      <swiper
      [config]="config"
      class="swiper-container"
      >    
        <ng-template swiperSlide class="swiper-slide-swipe">
          <div  class="banner-top">
            <img class="swiperimg" src="../../../assets/bread.png" alt="">
            <b>panes</b>
         </div>
        </ng-template>
  
        <ng-template swiperSlide class="swiper-slide-swipe">
          <div class="banner-top">
              <img class="swiperimg" src="../../../assets/fried-egg.png" alt="">
              <b>huevos</b>
          </div>
        </ng-template>
  
        <ng-template swiperSlide class="swiper-slide-swipe">
          <div  class="banner-top">
             <img class="swiperimg" src="../../../assets/watermelon.png" alt="">
             <b>sandias</b>
          </div>
        </ng-template>
      </swiper>
  
  </div>
  
  <div class="productos">
      <b>Productos populares</b> 
      <p>ver todo ></p>
  </div>
  
  <div class="productos-populares">
    <ion-row *ngFor="let producto of productos">
      <ion-card>
        <img class="ion-padding" alt="Silhouette of mountains" src="{{producto.imagenUrl}}" />
        <ion-card-header>
          <ion-card-title>{{producto.nombre}}</ion-card-title>
          <ion-card-subtitle>${{producto.precio}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
         Stock: {{producto.stock}}
        </ion-card-content>
      </ion-card>
    </ion-row>
  </div>
  
</ion-content>

<ion-footer>
  <ion-toolbar color="#">
    <div class="footer">
      <div class="home">
        <ion-icon name="home-outline"></ion-icon>
        <p>Inicio</p>
      </div>
      <div class="categorias">
        <ion-icon name="grid"></ion-icon>
        <p>Categorías</p>
      </div>
      <div class="carrito">
        <ion-icon name="cart-outline"></ion-icon>
        <p>Carrito</p>
      </div>
      <div class="perfil" routerLink="/profile">
        <ion-icon name="person-outline"></ion-icon>
        <p>Perfil</p>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>

