<ion-content class="container ion-padding">
  <div class="main">

    <div class="header">
      <ion-img src="assets/img/bodega-la-fe.png" alt="logo bodega la fe"></ion-img>
      <div class="usuario" *ngIf="usuario">
        <h1>¡Hola {{usuario.username}}!</h1>
        <em>¡Gracias por comprar con nosotros!</em>
      </div>
    </div>

    <div class="busqueda">
      <ion-searchbar animated="true" placeholder="Busca tu product aquí..."></ion-searchbar>
    </div>

  </div>

  <div class="titulo" *ngIf="usuario.role=='admin'" routerLink="/add-product"><h1>AGREGAR PRODUCTO</h1></div>
  
  <div class="categoria">
    <div class="category">
      <b>categorias</b>
      <p>ver todo ></p>
    </div>
  
      <swiper
      [config]="config"
      class="swiper-container"
      >    
        <ng-template swiperSlide class="swiper-slide-swipe">
          <div  class="banner-top">
            <img class="swiperimg" src="../../../assets/bread.png" alt="">
            <b>panes</b>
         </div>
        </ng-template>
  
        <ng-template swiperSlide class="swiper-slide-swipe">
          <div class="banner-top">
              <img class="swiperimg" src="../../../assets/fried-egg.png" alt="">
              <b>huevos</b>
          </div>
        </ng-template>
  
        <ng-template swiperSlide class="swiper-slide-swipe">
          <div  class="banner-top">
             <img class="swiperimg" src="../../../assets/watermelon.png" alt="">
             <b>sandias</b>
          </div>
        </ng-template>
      </swiper>
  
  </div>
  
  <div class="productos">
      <b>Productos populares</b> 
      <p>ver todo ></p>
  </div>
  
  <div class="productos-populares">
    <ion-row *ngFor="let product of products">
      <div class="buttons-crud" *ngIf="usuario.role=='admin'">
        <div (click)="editProduct(product)">
          <ion-icon name="create-outline" style="font-size: 40px;"></ion-icon>
        </div>
        <div (click)="product.uid && confirmDelete(product.uid)">
          <ion-icon name="trash-outline" style="font-size: 40px;"></ion-icon>
        </div>
      </div>
      <ion-card>
        <img class="" alt="Silhouette of mountains" [src]="product.img" />
        <ion-card-header class="card-header">
          <p class="title-card">{{product.nombre}}</p>
          <p class="subtitle-card">${{product.precio}}</p>
          <p class=""> Disponible: {{product.stock}}</p>
        </ion-card-header>
        <ion-card-content class="uk-flex uk-flex-between">
        <div class="mt-10 uk-flex align-items-center">
          <ion-icon (click)="removeProduct(product)" class="qty-icon" name="remove-outline"></ion-icon>
          <input class="field-qty" type="number" [value]="product.qty" min="0" name="" id="">
          <ion-icon class="qty-icon" name="add-outline" (click)="addProduct(product)"></ion-icon>
        </div>
        <div>
          <ion-icon class="cart" name="cart-outline"></ion-icon>
        </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </div>
  
</ion-content>
<app-footer-nav currentRoute="/"></app-footer-nav>


