<ion-header>
  <ion-toolbar color="#">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Productos buscados...
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="productos-populares">
    <ion-row *ngFor="let product of products">
      
      <ion-card class="product-card" *ngIf="product.stock > 0">
        <div class="image-container" (click)="goToProductDetail(product)">
          <img class="product-img" alt="Silhouette of products" [src]="product.img" />
        </div>
        <ion-card-header class="card-header">
          <p class="title-card">{{product.nombre}}</p>
          <p class="subtitle-card">${{product.precio}}</p>
          <p class=""> Disponible: {{product.stock}}</p>
        </ion-card-header>

        <ion-card-content class="uk-flex uk-flex-between" style="width: 100%;"
          *ngIf="user && user.role =='usuario' || !user">
          <div class="button-cart client-cnt" style="display: flex; align-items: center; margin-right: 5px; "
            *ngIf="product.stock > 0">
            <ion-icon (click)="removeToCart(product)" name="remove-outline"></ion-icon>
            <b class="qty-field">{{product.qty}}</b>
            <ion-icon (click)="addQty(product)" name="add-outline"></ion-icon>
          </div>
          <p *ngIf="product.stock < 1" style="color: red;"> Producto no disponible</p>
        </ion-card-content>
        <ion-icon *ngIf="product.qty > 0" name="cart" (click)="addToCart(product)" class="floating"
          style="font-size: 30px;"></ion-icon>


        <ion-card-content class="uk-flex uk-flex-between" *ngIf="user && user.role =='admin'">
          <div class="buttons-crud">
            <div>
              <ion-icon (click)="editProduct(product)" name="create-outline" style="font-size: 30px;"></ion-icon>
            </div>
            <div>
              <ion-icon (click)="product.productId&& confirmDeleteProduct(product.productId)" name="trash-outline"
                style="font-size: 30px;"></ion-icon>
            </div>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card class="product-card no-stock" *ngIf="product.stock < 1">
        <div class="image-container">
          <img class="product-img" alt="Silhouette of products" [src]="product.img" />
        </div>
        <ion-card-header class="card-header">
          <p class="title-card">{{product.nombre}}</p>
          <p class="subtitle-card" style="color: #02B761;">${{product.precio}}</p>
          <p class=""> Disponible: {{product.stock}}</p>
          <p class="no-stock-text"> Producto no disponible</p>
        </ion-card-header>

        <ion-card-content class="uk-flex uk-flex-between" *ngIf="user && user.role =='admin'">
          <div class="buttons-crud">
            <div>
              <ion-icon (click)="editProduct(product)" name="create-outline" style="font-size: 30px;"></ion-icon>
            </div>
            <div>
              <ion-icon (click)="product.productId&& confirmDeleteProduct(product.productId)" name="trash-outline"
                style="font-size: 30px;"></ion-icon>
            </div>
          </div>
        </ion-card-content>
      </ion-card>

    </ion-row>
  </div>

  <div *ngIf="!products || products.length === 0">
    <h2>No hay productos con este nombre</h2>
  </div>

</ion-content>

<app-footer-nav currentRoute="/" [qtyOrders]="cartItems"></app-footer-nav>
