$fuenteDeLetra: 'Poppins', sans-serif;
$semiBold: 600;
$extraBold: 800;

ion-toolbar {
    background: #02B761;
    ion-back-button {
        color: white;
        position: absolute;
    }
    ion-title {
        font-family: $fuenteDeLetra;
        font-weight: $extraBold;
        color: white;
        text-align: center;
    }
}

ion-content {
    font-family: $fuenteDeLetra;
    h1{
        font-weight: $extraBold;
        font-size: 30px;
    }
    p{
        color: gray;
    }
    ion-label {
        font-weight: $extraBold;
    }
    button {
        background: #02B761;
        padding: 18px;
        width: 95%;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        color: white;
        font-weight: $extraBold;
        font-size: 15px;
        margin: 30px auto;
    }
    .noexists{
        text-align: center;
        span {
            color: #02B761;
            font-weight: $extraBold;
        }
    }
}

.forget {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    color: #02B761 !important;
    font-weight: $extraBold;
}

.google {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img {
        width: 55px;
    }
}