<ion-content class="ion-paddding">

    <div class="ion-padding">
        <h1>Bodega La Fe</h1>
        <p>
          Inicia sesión en tu cuenta ahora
        </p>
    </div>
  
    <form [formGroup]="formLogin" (ngSubmit)="login()">
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" placeholder="Ingresa tu correo" required formControlName="email"></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" minLenght="8" maxlength="17" placeholder="Ingresa tu contraseña" required formControlName="password"></ion-input>
        </ion-item>
        <p class="forget" routerLink="/reset-password">¿Olvidaste tu contraseña?</p>
  
        <button type="submit">Iniciar Sesión</button>
        <div class="google">
            <p>O inicia sesión con</p>
            <img src="assets/img/google.png" alt="google" (click)="loginGoogle()">
        </div>
        <div class="google">
          <p>ingresar como invitado</p>
          <img src="assets/img/invitado.png" alt="google" routerLink="/home">
        </div>
        <p class="noexists">¿No tienes una cuenta? <span routerLink="/register">Registrate</span></p>
    </form>
  

</ion-content>
