ion-content {
  text-align: center;
}

.success-container {
  margin-top: 80px;
}

ion-button {
  background: #02b761;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

.success-icon {
  font-size: 10rem;
  animation: success-icon-animation 1s ease-in-out;
  color: #02b761;
  margin: auto;
}

@keyframes success-icon-animation {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}