<ion-header>
    <ion-toolbar color="#">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
      <ion-title>
        Mi perfil
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding persons">
    <div class="person" *ngIf="userData">
        <h1>{{userData.username}}</h1>
        <p>{{userData.email}}</p>
    </div>

    <div class="options" *ngIf="usuario.role=='admin'" routerLink="/add-product">
        <ion-item class="option">
            <ion-icon name="add-circle-outline"></ion-icon>
            <p>Agregar un producto</p>
        </ion-item>
    </div>
    
    <div class="options">
        <ion-item class="option">
            <ion-icon name="cart-outline"></ion-icon>
            <p>Historial de pedidos</p>
        </ion-item>

        <ion-item class="option">
            <ion-icon name="log-out-outline"></ion-icon>
            <p (click)="logout()">Cerrar sesión</p>
        </ion-item>
    </div>

</ion-content>

<app-footer-nav currentRoute="/profile"></app-footer-nav>
