ion-toolbar {
  background: #02b761;
}

ion-toolbar ion-back-button {
  color: white;
  // position: absolute;
  margin-top: 2rem;
}

ion-toolbar ion-title {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: white;
  text-align: center;
  margin-top: 1rem;
}
.person {
  text-align: center;
  padding-bottom: 2em;
  font-family: "Poppins", sans-serif;
}

.person h1 {
  font-weight: 800;
}

.person p {
  font-weight: 500;
}

ion-item {
  --inner-border-width: 0;
  /* Quits inner border */
  --highlight-background-focused: transparent;
  /* Removes highlight when focused */
  --highlight-background: transparent;
  /* Removes highlight when pressed */
  --ripple-color: transparent;
  /* Removes ripple effect */
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
}

ion-item ion-icon {
  font-size: 40px;
  padding-right: 10px;
}
