<ion-footer>
    <ion-toolbar color="#">
      <div class="footer">
        <div class="home">
          <ion-icon name="home-outline" routerLink="/"></ion-icon>
          <p>Inicio</p>
        </div>
        <div class="carrito" routerLink="/cart">
          <ion-icon name="cart-outline"></ion-icon>
          <p>Carrito</p>
        </div>
        <div class="perfil" routerLink="/profile">
          <ion-icon name="person-outline"></ion-icon>
          <p>Perfil</p>
        </div>
      </div>
    </ion-toolbar>
  </ion-footer>