$fuenteDeLetra: 'Poppins', sans-serif;
$semiBold: 600;
$extraBold: 800;

.categories-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;

  .category {
    background: #02B761;;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    gap: 20px;

    img {
      max-width: 80%; // Puedes ajustar este valor según tus preferencias
      max-height: 100px; // Puedes ajustar este valor según tus preferencias
      object-fit: contain;  // Esto asegura que la imagen se adapte sin distorsiones
      border-radius: 50%;
    }

    p {
      margin-top: auto; // Esto asegura que el texto se mantenga en la parte inferior
      font-family: $fuenteDeLetra;
      font-weight: $semiBold;
      color: white;
    }
  }
}
