<ion-header>
    <ion-toolbar>
      <ion-title>
        Categorías
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="categories-container">

      <div class="category" [routerLink]="['/category', 'Alimentos']">
        <img src="/assets/img/alimentos-frescos.png" alt="Categoría">
        <p>Alimentos</p>
      </div>
      
      <div class="category" [routerLink]="['/category', 'Vegetales']">
        <img src="/assets/img/vegetales.webp" alt="Categoría">
        <p>Vegetales</p>
      </div>

      <div class="category" [routerLink]="['/category', 'Panaderia']">
        <img src="/assets/img/pan.webp" alt="Categoría">
        <p>Panaderia</p>
      </div>

      <div class="category" [routerLink]="['/category', 'Bebidas']">
        <img src="/assets/img/bebida.png" alt="Categoría">
        <p>Bebidas</p>
      </div>

      <div class="category" [routerLink]="['/category', 'Cerveza_Romo']">
        <img src="/assets/img/cerveza.webp" alt="Categoría">
        <p>Cervezas y Romos</p>
      </div>

      <div class="category" [routerLink]="['/category', 'Embutidos']">
        <img src="/assets/img/embutidos.webp" alt="Categoría">
        <p>Embutidos</p>
      </div>

      <div class="category" [routerLink]="['/category', 'Enlatados']">
        <img src="/assets/img/enlatados.png" alt="Categoría">
        <p>Enlatados</p>
      </div>

      <div class="category" [routerLink]="['/category', 'Pastas']">
        <img src="/assets/img/pastas.webp" alt="Categoría">
        <p>Pastas</p>
      </div>

      <div class="category" [routerLink]="['/category', 'Especias']">
        <img src="/assets/img/especias.webp" alt="Categoría">
        <p>Especias</p>
      </div>

      <div class="category" [routerLink]="['/category', 'Papitas']">
        <img src="/assets/img/papita.png" alt="Categoría">
        <p>Papitas</p>
      </div>

      <div class="category" [routerLink]="['/category', 'Dulces']">
        <img src="/assets/img/dulces.webp" alt="Categoría">
        <p>Dulces</p>
      </div>

      <div class="category" [routerLink]="['/category', 'Higiene']">
        <img src="/assets/img/higiene.png" alt="Categoría">
        <p>Higiene</p>
      </div>

      <div class="category" [routerLink]="['/category', 'Farmacos']">
        <img src="/assets/img/farmacos.png" alt="Categoría">
        <p>Farmacos</p>
      </div>

      <div class="category" [routerLink]="['/category', 'Deshechables']">
        <img src="/assets/img/deshechables.webp" alt="Categoría">
        <p>Deshechables</p>
      </div>

      <div class="category" [routerLink]="['/category', 'Electronica']">
        <img src="/assets/img/electronica.webp" alt="Categoría">
        <p>Electrónica</p>
      </div>

      <div class="category" [routerLink]="['/category', 'Ferreteria']">
        <img src="/assets/img/ferreteria.webp" alt="Categoría">
        <p>Ferretería</p>
      </div>

      <div class="category" [routerLink]="['/category', 'Papeleria']">
        <img src="/assets/img/papeleria.webp" alt="Categoría">
        <p>Papelería</p>
      </div>

      <div class="category" [routerLink]="['/category', 'Cigarros']">
        <img src="/assets/img/cigarros.webp" alt="Categoría">
        <p>Cigarros</p>
      </div>

      <div class="category" [routerLink]="['/category', 'Viveres']">
        <img src="/assets/img/viveres.webp" alt="Categoría">
        <p>Viveres</p>
      </div>

      <div class="category" [routerLink]="['/category', 'Variedades']">
        <img src="/assets/img/variedades.webp" alt="Categoría">
        <p>Variedades</p>
      </div>

    </div>
  </ion-content>
  