
$fuenteDeLetra: 'Poppins', sans-serif;
$semiBold: 600;
$extraBold: 800;

* {
  font-family: $fuenteDeLetra;
}

ion-toolbar {
    background: #02B761;
    ion-back-button {
        color: white;
        position: absolute;
    }
    ion-title {
        font-family: $fuenteDeLetra;
        font-weight: $extraBold;
        color: white;
        text-align: center;
    }
}

span {
  font-weight: $extraBold;
  
}

h2 {
  font-weight: $semiBold !important;
  font-size: 17px;
}

.total-price span {
  color: #02B761;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Ajusta el contenido alineado a lo largo del eje transversal */
}

.img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

ion-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-detail {
  flex-grow: 1;
}

.order-detail-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.price {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.price-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

ion-button {
  width: 20%;
  padding-right: 5px;
  ion-icon {
    font-size: 24px;
  }
}

.sent-order {
  --border-color: #02B761;
  --background: rgba(2, 183, 97, 0.1);
  --color: #02B761;
}

.location {
  --border-color: rgb(0, 157, 255);
  --background: rgba(0, 157, 255, 0.1);
  --color: rgb(0, 157, 255);
}