<ion-header>
    <ion-toolbar color="#">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>
        Pedidos
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf="orders.length === 0">
      <!-- Mensaje si no hay productos -->
      <h2 class="no-order">No hay ningún pedido.</h2>
    </div>


    <div class="products" *ngFor="let order of orders">
      <ion-card class="card">
        <ion-card-header>
          <div class="card-header" style="display: flex; justify-content: space-between;">
            <ion-card-subtitle>{{order.fecha}}</ion-card-subtitle>
            <ion-card-subtitle>{{order.username}}</ion-card-subtitle>
          </div>
        </ion-card-header>
      
        <ion-card-content class="card-content" *ngFor="let product of order['items']">
          <ion-item>
            <div class="img">
              <ion-img [src]="product.product.img"></ion-img>
            </div>
            <div class="order-detail">
              <ion-card-title>{{product.product.nombre}}</ion-card-title>
              <div class="order-detail-price">
                <ion-card-subtitle>${{product.product.precio}}</ion-card-subtitle>
                <ion-card-subtitle>Cantidad: {{product.product.qty}}</ion-card-subtitle>
              </div>
            </div>
          </ion-item>
        </ion-card-content>

        <div class="price-buttons">
          <div class="price">
            <h2>Subtotal: <span class="subtotal">${{calculateOrderTotal(order)}}</span></h2>
            <h2>Envio:
              <span *ngIf="calculateOrderTotal(order) >= 1000">Gratis</span>
              <span *ngIf="calculateOrderTotal(order) < 1000">$50</span>
            </h2>
            <div class="total-section">
              <h2 class="total-price" *ngIf="calculateOrderTotal(order) >= 1000">
                Precio Total: <span class="precio">${{ calculateOrderTotal(order) }}</span>
              </h2>
              <h2 class="total-price" *ngIf="calculateOrderTotal(order) < 1000">
                Precio Total: <span class="precio">${{ calculateOrderTotal(order) + 50 }}</span>
              </h2>
            </div>
          </div>

        <div class="button-container">
            <ion-button class="location" (click)="copyToClipboard(order.ubicacion)">
              <ion-img src="../../../assets/icons/location-outline.svg" slot="start" style="width: 25px;"></ion-img>
              Copiar ubicación
            </ion-button>
            <ion-button class="whatsapp" (click)="goToWhatsApp(order.whatsapp)">
              <ion-img src="../../../assets/icons/logo-whatsapp.svg" slot="start" style="width: 25px;"></ion-img>
              Ir a WhatsApp
            </ion-button>
            <ion-button (click)="sentOrder(order.id)">
              <ion-img src="../../../assets/icons/checkmark-circle-outline.svg" slot="start" style="width: 25px;"></ion-img>
              Despachar pedido
            </ion-button>
          </div>
        </div>
        
      </ion-card>

    </div>
    
  </ion-content>
  
  <app-footer-nav></app-footer-nav>